<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Attacks</title>
</head>
<body>
<p>Совершенные атаки на пользователей:</p>
<div name="staff">
    <ul>
        <li th:each="attack : ${attacks}">
            <a th:href="@{/attack_profile/} + ${attack.attack_id}" th:text="${attack.attack_id}"></a>:
            <span th:text="${attack.attackName}"></span>:
            <span th:text="${attack.template_id}"></span>:
            <span th:text="${attack.date}"></span>:
        </li>
    </ul>
</div>

<div>
    <a th:href="@{/attack_create}">Создать атаку</a>
</div>
</body>
</html>