<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto sidenav" id="navAccordion">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/main">main</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/users">staff</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/attacks">attack</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/templates">template</a>
                </li>
            </ul>
        </div>
</nav>

<div class="container">
    <div class="card">
        <div class="card-header"><p>Основаня информация</p></div>
        <div class="card-body"><div class="users">
            <div class="row align-items-center">
                <div class="col" id="pie_chart" style="width: 400px; height: 400px;"></div>

                <div class="col-md-4 col-md-auto">
                    <table class="table table-borderless table-sm">
                        <tbody>
                            <tr>
                                <td>Всего атак: </td>
                                <td class="flex-items-xs-center text-center"><span th:text="${statistic.AttackTotal}"> s</span></td>
                            </tr>
                            <tr>
                                <td>Всего атаковано пользователей: </td>
                                <td class="flex-items-xs-center text-center"><span th:text="${statistic.AttackedUsersTotal}"> s</span></td>
                            </tr>
                            <tr>
                                <td>Перешли по ссылке: </td>
                                <td class="flex-items-xs-center text-center"><span th:text="${statistic.AttackedUsersURL}"> s</span></td>
                            </tr>
                            <tr>
                                <td>Попались на форму: </td>
                                <td class="flex-items-xs-center text-center"><span th:text="${statistic.AttackedUsersForm}"> s</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div></div>
    </div>
    <div class="card">
        <div class="card-header"><p>Последние 5 атак</p></div>
            <div class="card-body"><div class="users">
                <div class="chart" id="curve_chart_URL"></div>
                <div class="chart" id="curve_chart_Form"></div>
            </div></div>
    </div><

</div>
<script th:inline="javascript">
    var data_pie = /*[[${chartDataPie}]]*/'noValue';
    var data_URL = /*[[${chartDataURL}]]*/'noValue';
    var data_Form = /*[[${chartDataForm}]]*/'noValue';

    $(document).ready(function() {
        google.charts.load('current', {
            packages : [ 'corechart', 'bar' ]
        });
        google.charts.setOnLoadCallback(drawPieChart);
        google.charts.setOnLoadCallback(drawLineChartURL);
        google.charts.setOnLoadCallback(drawLineChartForm);
    });

    function drawPieChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Percent');
        data.addColumn('number', 'Views');
        Object.keys(data_pie).forEach(function(key) {
            data.addRow([ key, data_pie[key] ]);
        });
        var options = {
            title : ' '
        };
        var chart = new google.visualization.PieChart(document
            .getElementById('pie_chart'));
        chart.draw(data, options);
    }

    function drawLineChartURL() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'дата атаки');
        data.addColumn('number', '% попавшихся пользователей');
        Object.keys(data_URL).forEach(function(key) {
            data.addRow([ key, data_URL[key] ]);
        });
        var options = {
            title : 'Перешли по ссылке',
            /*hAxis : { title : 'дата атаки', },
            vAxis : { title : '% попавшихся пользователей' }*/
        };
        var chart = new google.visualization.LineChart(document
            .getElementById('curve_chart_URL'));
        chart.draw(data, options);
    }

    function drawLineChartForm() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'дата атаки');
        data.addColumn('number', '% попавшихся пользователей');
        Object.keys(data_Form).forEach(function(key) {
            data.addRow([ key, data_Form[key] ]);
        });
        var options = {
            title : 'Заполнили форму',
            /*hAxis : { title : 'дата атаки', },
            vAxis : { title : '% попавшихся пользователей' }*/
        };
        var chart = new google.visualization.LineChart(document
            .getElementById('curve_chart_Form'));
        chart.draw(data, options);
    }
</script>
</body>
</html>